.info {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

#profilePicture {
  max-height: 350px;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
}

.aboutSection {
  background-image: url("./assets/profileback.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.aboutText {
  padding: 0px 130px 0px 130px;
}

.links {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.miniIcons {
  max-height: 70px;
  margin: 0px 10px 0px 10px;
  max-height: 70px;
  margin-right: 10px;
  text-decoration: none;
  color: inherit;
  border-radius: 50%;
}

.contactSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-between;
}

.contactIcons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactIcons > a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent (usually the default text color) */
}
