/*everything minus navbar  */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* about section  */
.aboutSection {
  background-image: url("./assets/profileback.png");
  background-size: cover;
  display: flex;
  width: 100%;
}
#profilePicture {
  max-height: 350px;
  max-width: fit-content;
  display: flex;
  flex-wrap: wrap;
}
.aboutTextAll {
  padding: 0px 50px 0px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutTextlil {
  font-size: 14pt;
  display: flex;
  justify-content: center;
}

/* projects section */
#projectTitle {
  font-size: 70px;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(
    to right,
    #33aaff,
    #00bcd4,
    #a333ff,
    #ff33a3,
    #ff7f50,
    #ff33a3,
    #a333ff,
    #33aaff
  );
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 200%;
  background-position: -200%;
  animation: animated-gradient 15s infinite alternate-reverse;
}
@keyframes animated-gradient {
  to {
    background-position: 200%;
  }
}

/* contact section */
.contactSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-between;
  margin-top: 60px;
}

#contactTitle {
  display: flex;
  align-items: center;
  align-content: space-between;
  justify-content: center;
  font-size: 60px;
  font-weight: 600;
  color: transparent;
  background-image: url("./assets/test.png");
  -webkit-background-clip: text;
  background-clip: text;
}

/* linked icons */
.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 70px;
  text-decoration: none;
  list-style: none;
  border-radius: 50%;
  transition: transform 0.3s ease;
  visibility: hidden;
}

.icons > a {
  text-decoration: none;
  color: inherit;
}

.icons:hover {
  transform: scale(1.1);
  visibility: visible;
  color: rgb(163, 162, 162);
}

/* linked aspects of icons */
.links {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.iconPic {
  max-height: 70px;
  margin: 0px 10px 0px 10px;
  max-height: 70px;
  color: inherit;
  border-radius: 50%;
}

.iconPic {
  visibility: visible;
}
